  a:link.click{
      color: #de691e;
      text-decoration: none;
    }
    a:visited.click{
      color: #de691e;
      text-decoration: none;
    }
    a:hover.click{
      color: #ffa98f;
      text-decoration: none;
    }
    a:link.mail{
      color: black;
    }
    a:visited.mail{
      color: black;
    }
    a:hover.mail{
      color: black;
    }
    a:link.gomain{
      color: #4374d9;
      text-decoration: none;
    }
    a:visited.gomain{
      color: #4374d9;
      text-decoration: none;
    }
    a:hover.gomain{
      color: #5adcf3;
      text-decoration: none;
    }
    .mean{
      font-family: 'Poor Story', cursive;
    }
    .treemean{
      font-family: 'Jua', cursive;
    }
.sun{
  border-top: 1px solid white;
  margin:5px;
}
header{
  border-bottom: 1px solid lightgrey;
  font-family: 'do hyeon',cursive;
  font-size: 20px;
}
 footer{
   text-align: center;
   font-family: 'Poor Story',cursive;
 }
 #menu{
   font-family: 'Nanum Gothic',cursive;
 }
 #stwslogo{
   margin-top: 5%;
 }

.toplogo{
  margin-left:0%;
  margin-top:0%;
}
.toop{
  font-family: 'Sawarabi Gothic', cursive;
  font-size: 20px;
  padding-top:3%;
  padding-left: 10%;
}
.menu1{
  font-family: 'Staatliches', cursive;
  font-size: 50px;
}
.Jua{
  font-family: 'Jua', cursive;
}

.square{
  margin-top:5%;
  width: 400px;
  height: 160px;
  box-shadow: 5px 5px 5px #aaa;
  background-color: #f0f0f0;
  border: 1px solid gainsboro;
  border-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.square1{
  margin-top:5%;
  width: 400px;
  height: 160px;
  box-shadow: 5px 5px 5px #aaa;
  background-color: #f0f0f0;
  border: 1px solid gainsboro;
  border-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.square2{
  margin-top:auto;
  width: 400px;
  height: 160px;
  box-shadow: 5px 5px 5px #aaa;
  background-color: #f0f0f0;
  border: 1px solid gainsboro;
  border-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.square3{
  margin-top:auto;
  width: 400px;
  height: 160px;
  box-shadow: 5px 5px 5px #aaa;
  background-color: #f0f0f0;
  border: 1px solid gainsboro;
  border-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
